@media(min-width:768px){
    .container{
        width: 750px;

    }
}

@media(min-width:992px){
    .container{
        width: 970px;
    }
}

@media(min-width: 1200px){
    .container{
        width: 1170px;
    }
}

@media(max-width:767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading _ p{
        margin-top: -20px;
    }
    .services .services-content .col .srv{
        flex-direction: column;
        text-align: center;
    }
    .contact .info .label ,
    .contact .info .link {
        font-size: 25px;
    } 

}
@media(max-width:1199px){
    .image-column{
        display: none;
    }

}
@media (max-width:991px){
    .about .about-content{
        display: flex ;
        flex-direction: column;
        text-align: center;
    }
    .about .about-content .image::before , .about .about-content .image::after{
        display: none;

    }
    .about .about-content .image{
        margin: auto;
    }
    .about .about-content .text{
        max-width: 100%;
    }
    

}